#fontfamily{
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }

.logoimg , .cartimg{
    height:56px;
    width:50px
}

.footerlogo{
    height: 200px;
    width:200px
}

#cartCounter{
    position: absolute;
    margin: 0px 0px 64px 45px;
    background-color: darkorange;
    color: yellow;
    width:20px;
    height:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
  
}