<div class="pt-24">
<section class="menu container mx-auto py-8">
    <h1 class="text-3xl text-center font-bold mb-8">Taco Menu 🌮</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% tacos.forEach((taco) => { %>
        <div class="w-full md:w-64">
            <img class="h-40 mb-4 mx-auto" src="/images/<%= taco.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-xl"><%= taco.name %></h2>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-xl">BD<%= taco.price %></span>
                    <button data-taco="<%= JSON.stringify(taco) %>"
                    type="button" class="add-to-cart text-pink-700 border border-ye-700 hover:bg-pink-700 hover:text-white focus:ring-0 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      </button>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</section>
</div>